{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{ display_name }}!</h1>
    <p>Your role: {{ role }}</p>

    <div id="weather-container">
        <h2>Weather</h2>
        <p id="weather-info">Loading...</p>
    </div>

    <form action="{% url 'spotify_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="roundedButton">Logout</button>
    </form>

    <script src="{% static 'js/weather.js' %}"></script>

</body>
</html>
